.block3
  width 100%
  height auto
  background-image url("img/bg.png")
  background-size cover
  background-repeat no-repeat
  background-color #faf9fa
  background-position center

  .block3-content
    width 100%
    height auto
    padding-top 50px
    padding-bottom 36px
    @media (min-width 768px)
      max-width 710px
    @media (min-width 1280px)
      max-width 1032px


    .block3-head
      width 100%
      height auto
      margin-bottom 25px

      h2
        font-family "Proxima Nova Bold"
        font-size 24px
        font-weight 900
        text-transform uppercase
        color #1f1d21
        margin-bottom 8px
        @media (min-width 768px)
          font-size 30px

          br
            display none

      p
        color #333333
        font-family "GillSansLightC"
        font-size 18px
        font-weight 300
        letter-spacing 1px
        text-align left
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          letter-spacing 1px

          br
            display none

    .steps-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-flow row wrap
      position relative
      @media (min-width 768px)
        align-items flex-start


      .step-block
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content center
        align-items center
        flex-direction column
        margin-bottom 42px
        z-index 1
        @media (min-width 768px)
          width 50%
          margin-bottom 31px
        @media (min-width 1280px)
          width 25%
          margin-bottom 0


        .step-img
          width 89px
          height 89px
          box-shadow 0 1px 20px rgba(0, 0, 0, 0.1)
          background-color #29272c
          border-radius 100%
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          margin-bottom 20px
          @media (min-width 1280px)
            justify-content center

          img
            width 53px
            height 53px

        .step-head
          width 100%
          height auto
          @media (min-width 768px)
            width 280px
          @media (min-width 1280px)
            width 220px

          h3
            color #29272c
            font-family "Proxima Nova Lt"
            font-size 18px
            font-weight 700
            line-height 20px
            text-transform uppercase
            letter-spacing 1px
            text-align center
            margin-bottom 24px
            @media (min-width 768px)
              text-align center
            @media (min-width 1280px)
              text-align center

              br
                display block


        .step-text
          width 265px
          height auto
          @media (min-width 768px)
            width 290px
          @media (min-width 1280px)
            width 220px

          p
            color #333333
            font-family "GillSansLightC"
            font-size 17px
            font-weight 100
            letter-spacing 1px
            text-align center
            line-height 18px
            @media (min-width 768px)
              text-align left


      .line
        display none
        width 277px
        height 1px
        background-color #000000
        opacity 0.49
        margin-bottom 22px
        @media (min-width 768px)
          display block

      .o-l
        @media (min-width 768px)
          position absolute
          top 44px
          width 270px
          left 220px
        @media (min-width 1280px)
          top 43px
          left 167px
          width 180px
      .tr-l
        @media (min-width 768px)
          position absolute
          width 270px
          top 56%
          left 220px
        @media (min-width 1280px)
          top 43px
          left 600px
          width 270px

      .t-l
        @media (min-width 768px)
          display none
        @media (min-width 1280px)
          display block
          position absolute
          top 43px
          left 390px
          width 270px


