.block7
  width 100%
  height auto


  .block7-content
    width 100%
    height auto
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    padding-bottom 32px
    padding-top 48px

    .block7-head
      width 100%
      height auto
      margin-bottom 41px

      h2
        color #1f1d21
        font-family "Proxima Nova Bold"
        font-size 24px
        font-weight 900
        text-transform uppercase
        margin-bottom 6px
        text-align left
        @media (min-width 768px)
          font-size 30px
          line-height 32px

      p
        color #29272c
        font-family "Proxima Nova Lt"
        font-size 18px
        font-weight 300
        text-align left
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          line-height 23px

    .contacts-block
      width 282px
      height auto
      padding-top 32px
      padding-bottom 30px
      padding-left 22px
      padding-right 22px
      box-sizing border-box
      box-shadow 0 3px 20px rgba(0, 0, 0, 0.1)
      background-image url("img/bg4.png")
      background-position top  right
      background-repeat no-repeat
      background-size auto
      background-color #ffffff
      border-bottom 5px solid #feb503
      @media (min-width 768px)
        width 703px
        padding-left 40px
        padding-right 40px
        padding-bottom 0
      @media (min-width 1280px)
        width 100%



      .contact
        width 100%
        height auto
        @media (min-width 768px)
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          flex-direction row

        .cont-one
          width 100%
          height auto
          @media (min-width 768px)
            width 44%

          .phone, .email, .time
            width 100%
            height auto
            margin-bottom 15px

            p
              color #333333
              font-family "GillSansLightC"
              font-size 14px
              line-height 15px
              font-weight 300
              letter-spacing 1px
              margin-bottom 8px
              @media (min-width 768px)
                font-size 20px
                line-height 21px

            h2
              color #feb503
              font-family "GillSansC"
              font-size 20px
              font-weight 300
              letter-spacing 1px
              transition all 0.2s ease
              @media (min-width 768px)
                font-size 24px
                line-height 25px
              &:hover
                color #fe9700

            span
              color #feb503
              font-family "GillSansC"
              font-size 24px
              font-weight 300
              letter-spacing 1px
              transition all 0.2s ease

            h2
              color #feb503
              font-family "GillSansC"
              font-size 24px
              font-weight 300
              letter-spacing 1px
              text-transform uppercase

        .cont-two
          width 100%
          height auto
          @media (min-width 768px)
            width 56%

          .name, .inn, .addres
            width 100%
            height auto
            margin-bottom 15px

            p
              color #333333
              font-family "GillSansLightC"
              font-size 14px
              line-height 15px
              font-weight 300
              letter-spacing 1px
              margin-bottom 8px
              @media (min-width 768px)
                font-size 20px
                line-height 21px

            h2
              color #feb503
              font-family "GillSansC"
              font-size 20px
              font-weight 300
              letter-spacing 1px
              transition all 0.2s ease
              @media (min-width 768px)
                font-size 24px
                line-height 25px
