.cp-block3
  width 100%
  height auto
  background-color #ffffff

  .cp-block3-content
    width 100%
    height auto
    padding-top 24px
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 48px
      padding-bottom 68px

    .cp-block3-head
      width 100%
      height auto
      margin-bottom 24px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #29272c
        font-family "Proxima Nova Bold"
        font-size 26px
        font-weight 900
        line-height 28px
        text-align center
        margin-bottom 6px
        span
          color #fca70b

        @media (min-width 768px)
          font-size 32px
          letter-spacing 0.89px
          text-transform uppercase


      p
        color #29272c
        font-family "Proxima Nova Lt"
        font-size 17px
        font-weight 300
        letter-spacing 1px
        text-align center
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          letter-spacing 1px
          margin-bottom 41px
        @media (min-width 1280px)
          font-size 22px
          font-weight 300
          letter-spacing 0.4px


    .cp-block-info
      width 100%
      height auto
      @media (min-width 768px)
        display flex
        display -webkit-flex
        justify-content center
        align-items flex-start
        flex-flow row wrap

      .block-info
        width 284px
        height auto
        margin-bottom 24px
        overflow hidden
        padding-bottom 28px
        @media (min-width 768px)
          margin-right 28px
          margin-left 28px
          margin-bottom 48px
        @media (min-width 768px)
          margin-right 22px
          margin-left 22px

        .info-img
          width 100%
          height 174px
          margin-bottom 24px

          img
            width 100%
            height auto

        .info-text
          width 100%
          height auto
          min-height 140px
          padding 0 15px
          box-sizing border-box


          p
            color #29272c
            font-family "Proxima Nova Lt"
            font-size 16px
            font-weight 400
            letter-spacing 0.3px
            text-align left

    p
      font-family "Proxima Nova Lt"
      letter-spacing 0.4px
      color #29272c
      font-size 22px
      font-weight 300
      text-align center

      br
        display none
      @media (min-width 768px)
        font-size 20px
        line-height 26px
        br
          display block
      @media (min-width 1280px)
        br
          display none

      a
        color #fca70b
        font-size 24px
        font-weight 700
