.links-section
  width 100%
  height auto
  background-color #ffffff

  .links-section-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 48px
      padding-bottom 68px
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

    .links-section-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #1f1d21
        font-family "Proxima Nova Bold"
        font-size 26px
        font-weight 100
        line-height 28px
        text-align center
        margin-bottom 6px
        @media (min-width 768px)
          font-size 32px
          font-weight 600
          letter-spacing 0.89px

    .links-content
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-flow row wrap

      .link-content-block
        width 100%
        height auto
        @media (min-width 768px)
          width 50%

        .link
          width 100%
          height auto
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          flex-direction row
          margin-bottom 15px
          @media (min-width 768px)
            margin-bottom 20px
          @media (min-width 1280px)
            margin-bottom 24px

          img
            width 25px
            height 25px
            margin-right 16px

          a
            color #29272c
            font-family "Proxima Nova Lt"
            font-size 18px
            font-weight 600
            letter-spacing 0.33px
            border-bottom 1px solid #29272c