.map-site
  width 100%
  height auto
  background-color #ffffff

  .map-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 150px
      padding-bottom 68px
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

    .map-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #1f1d21
        font-family "Proxima Nova Bold"
        font-size 26px
        font-weight 100
        line-height 28px
        text-align left
        margin-bottom 6px
        letter-spacing 0.89px
        text-transform uppercase
        @media (min-width 768px)
          font-size 32px

    .map-site-content
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      @media (min-width 768px)
        flex-direction row
        align-items flex-start
        justify-content space-between
      @media (min-width 1280px)
        justify-content flex-start

      .menu.group-menu
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content flex-start
        align-items flex-start
        flex-direction column
        margin-bottom 64px
        @media (min-width 768px)
          width 30%
        @media (min-width 1280px)
          width 234px
          margin-right 50px

        h3
          color #333333
          font-family "Proxima Nova Lt"
          font-size 24px
          font-weight 600
          letter-spacing 0.28px
          margin-bottom 20px
          @media (min-width 768px)
            font-size 24px
            font-weight 600
            margin-bottom 31px


        a
          color #feb503
          font-family "Proxima Nova Lt"
          font-size 18px
          font-weight 600
          letter-spacing 0.33px
          text-decoration underline
          margin-bottom 24px