body
  width 100%
  height 100%
  background-color #ffffff

.err-form
  border-color red!important


@require mixins
@require header
@require block1
@require block2
@require block3
@require block4
@require block5
@require block6
@require block7
@require footer
@require cp-block1
@require cp-block2
@require cp-block3
@require qa-block1
@require doc-block1
@require links-section
@require map-site
