section.block2.cnt
    div.block2-content.row
        div.block2-head
            h2 Преимущества займа
                span  у нас!
            p Мы рады предоставить <br>лучшие условия по займу

        div.adveriews-blocks
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-1.png")
                div.adveriew-text
                    div.h3-block
                        h3 Без лишних документов
                    p Получить деньги можно в день обращения, не выходя из дома! Из документов требуется <b>только паспорт</b>.
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-2.png")
                div.adveriew-text
                    div.h3-block
                        h3 Быстрый ответ
                    p Заполните анкету и дождитесь решения. Заполнение анкеты займет <b>несколько минут</b>. Решение мы примем ещё быстрее.
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-3.png")
                div.adveriew-text
                    div.h3-block
                        h3 Без скрытых комиссий
                    p Всего <b>2.17% в день</b> от суммы займа. Никаких скрытых комиссий.
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-4.png")
                div.adveriew-text
                    div.h3-block
                        h3 Выгодно пользоваться
                    p Погасите полученный займ раньше срока, заплатив <b>только за фактическое время пользования</b> деньгами.
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-5.png")
                div.adveriew-text
                    div.h3-block
                        h3 Удобно оплачивать
                    p Погасить займ можно, выбрав <b>любой удобный способ</b> в личном кабинете: с банковской карты в личном кабинете
            div.adveriew-block
                div.adveriew-img
                    img(src="img/slide-6.png")
                div.adveriew-text
                    div.h3-block
                        h3 Данные в безопастности
                    p Мы не запрашиваем и не храним данные Вашей карты. Все операции с картой проходят <b>в защищенном режиме</b>.

