section.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 Наши контакты
            p Займы выдаются круглосуточно

        div.contacts-block
            div.contact
                div.cont-one
                    div.phone
                        p Свяжитесь с нами <br>с 7:00-20:00:
                        a(href="tel: 88000000000")
                            h2 8 800 000 00 00
                        span звонок по России бесплатный

                    div.email
                        p Напишите нам на почту:
                        h2 Круглосуточно

                    div.time
                        p Время работы:
                        h2 9:00 - 20:00

                div.cont-two
                    div.name
                        p Название:
                        h2 ООО Компания

                    div.inn
                        p ОГРН / ИНН:
                        h2 1234567891234 / 123456789123

                    div.addres
                        p Адрес:
                        h2 г. Ульяновск, ул. Карла Маркса, 34А


