section.block5.cnt
    div.block5-content.row
        div.block5-head
            h2 Мы помогли уже <br>
                span 12 485 клиентам
                |  по всей России
            p Обращайтесь к нам, <br>мы поможем и Вам

        div.maps

