section.block6.cnt
    div.block6-content.row
        div.block6-head
            h2 Три бесплатных дня <br>для новых клиентов!
            p Оформите займ и первые три дня будут <b>без начисления</b><br> процентов по займу

        div.borrowing-block
            div.borrowing
                div.sum-block
                    div.borrowing-sum
                        div.sum
                            p Сумма займа:

                        p
                            span.sumspan 5 000
                            span.cur  руб.

                    input.one-ss(type="range")

                    p.subText Сумма более 6000 руб. <br> доступна со второго займа

                div.application
                    button.button-blue Получить деньги