section.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 Отзывы
                span  наших клиентов
            p Мы всегда идём на встречу нашим клиентам

        div.reviews-slider
            div.slick-prev
            div.slick-slider
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-1.png")
                        div.head-text
                            div.name-block
                                h3 Мария Иванова
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-2.png")
                        div.head-text
                            div.name-block
                                h3 Иван Иванов
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-3.png")
                        div.head-text
                            div.name-block
                                h3 Елена Сергеева
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.

                div.slick-slide
                    div.slide-img
                        img(src="img/photo-1.png")
                        div.head-text
                            div.name-block
                                h3 Мария Иванова
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-2.png")
                        div.head-text
                            div.name-block
                                h3 Иван Иванов
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-3.png")
                        div.head-text
                            div.name-block
                                h3 Елена Сергеева
                            p.sity г. Москва
                    div.slide-text
                        p Для оформления заявки, Вам нужно пройти регистрацию на нашем сайте. Заполнение анкеты займет несколько минут. Решение мы примем еще быстрее.

            div.slick-next
