section.block1.cnt
    div.block1-content.row
        div.block1-head
            h1 Быстрый онлайн займ
            p до
                span  15 000
                |  рублей

            div.time-block
                p Оформите займ сейчас <br> и деньги у Вас на карте
                span.receiptTime
                    p В 16:00

        div.calculator-block

            div.button-block
                a.link-active.b1(href="#") Первый займ <br> по акции

                div.switch-but.switch-left
                    div.switch-simple

                a.b2(href="#") Повторный <br> займ

            div.calculator

                div.one-calc
                    div.summ-blocks
                        div.summ-block
                            div.one-sum
                                p Сумма займа:
                            p.sum
                                span.sum 12 000
                                span.cur  руб
                            div.swit.one-s
                                input(type="range" min="2000" max="6000" step="500" oninput="")

                        div.summ-block
                            div.one-sum
                                p Срок займа:
                            p.days
                                span.d 10
                                span.cur  дней
                            div.swit.two-s
                                input(type="range" min="3" max="30" step="1" oninput="")

                    div.content-row
                        div.end-blocks
                            div.end-block.commission
                                p Комиссия:
                                span 2 170

                            div.end-block.summToBack
                                p К оплате:
                                span 8 170

                            div.end-block.dateToBack
                                p Оплатить до:
                                span 21.07.17

                        div.good-block
                            div.gb
                                p Вероятность <br>одобрения:
                                span 97%
                            button.button-red Получить деньги


            p.red-text Не успеваете погасить займ? <br> Мы продлим его до 30 дней!





