section.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 4 простых шага <br> на получение займа
            p Оставьте заявку и убедитесь <br>в этом сами

        div.steps-blocks
            div.step-block
                div.step-img
                    img(src="img/user.svg")
                div.step-head
                    h3 регистрация <br>на сайте
                div.step-text
                    p Успешно пройдите регистрацию на нашем сайте. Укажите номер своего мобильного телефона и адрес своей электронной почты.

            div.line.o-l

            div.step-block
                div.step-img
                    img(src="img/forms.svg")
                div.step-head
                    h3 Заполнение <br>анкеты
                div.step-text
                    p Для оформления заявки, Вам нужно заполнить анкету на нашем сайте. Это займет всего несколько минут. Решение мы примем еще быстрее.

            div.line.t-l

            div.step-block
                div.step-img
                    img(src="img/checked.svg")
                div.step-head
                    h3 одобрение <br>заявки
                div.step-text
                    p При оценке клиента используется лояльная методика, что приводит к минимальному количеству отказов. После получения подвердите оферту.

            div.line.tr-l

            div.step-block
                div.step-img
                    img(src="img/wallet.svg")
                div.step-head
                    h3 деньги <br>у вас
                div.step-text
                    p Получить займ на именную банковскую карту или Яндекс Кошелек. Выбирайте, что для Вас удобней.