doctype html
html(lang="en")
    head
        include head
    body
        header.cnt.header-cp
            div.header-content.row
                div.logo-block

                div.menu-container
                    ul
                        li.menu-item
                            a(href="#") Условия
                        li.menu-item
                            a(href="#") Документы
                        li.menu-item
                            a(href="#") Вопрос-Ответ

                div.extradition
                    p Займов выдано:<br>
                        span 12 485

                div.reg-block
                    button.lk-button
                        img(src="img/lk.svg")
                        p Личный кабинет
                    a.reg-link(href="#") Регистрация

                div.burger-block


                div.habmenu
                    ul
                        li.menu-item
                            button.lk-button
                                img(src="img/lk.svg")
                                p Личный кабинет
                        li.menu-item
                            a.reg-link(href="#") Регистрация
                        li.menu-item
                            a(href="#") Условия
                        li.menu-item
                            a(href="#") Документы
                        li.menu-item
                            a(href="#") Вопрос-Ответ
        include cp-block1
        include cp-block2
        include cp-block3
        include block6
        include footer


