section.cp-block1.cnt
    div.cp-block1-content.row
        div.cp-block1-head
            h2 4 простых шага на получение займа
            p Оставьте заявку и убедитесь в этом сами

        div.cp-steps-blocks
            div.cp-step-block
                div.cp-step-img
                    img(src="img/wallet.svg")
                div.cp-step-head
                    h3 У Вас постоянный доход

            div.line.o-l

            div.cp-step-block
                div.cp-step-img
                    img(src="img/user.svg")
                div.cp-step-head
                    h3 Являетесь гражданином Российской Федерации

            div.line.t-l

            div.cp-step-block
                div.cp-step-img
                    img(src="img/21.svg")
                div.cp-step-head
                    h3 В возрасте от 21 до 65 лет

            div.line.tr-l

            div.cp-step-block
                div.cp-step-img
                    img(src="img/phone.svg")
                div.cp-step-head
                    h3 Есть мобильный телефон для подписания договора
