section.cp-block2.cnt
    div.cp-block2-content.row
        div.cp-block2-head
            h2 Как это
                span  работает

        div.work-steps
            div.work-step-block
                div.work-head
                    p ШАГ 1:
                        span  пройдите регистрацию

                div.work-steps-content
                    div.work-step
                        div.work-img
                            img(src="img/ws-1.png")
                        div.work-text
                            h3 Укажите свои данные
                            p Укажите номер своего мобильного телефона, адрес своей электронной почты.

                    div.work-step
                        div.work-img
                            img(src="img/ws-2.png")
                        div.work-text
                            h3 Успешная регистрация на сайте
                            p Укажите номер своего мобильного телефона, адрес своей электронной почты. Получите данные для входа в личный кабинет

            div.work-step-block
                div.work-head
                    p ШАГ 2:
                        span  заполните анкету на сайте и выберите способ получения денег

                div.work-steps-content
                    div.work-step
                        div.work-img
                            img(src="img/ws-2.png")
                        div.work-text
                            h3 Заполните анкету на сайт
                            p Заполните заявку в личном кабинете, выбрав при этом удобный для Вас способ получения денег.

                    div.work-step
                        div.work-img
                            img(src="img/ws-2.png")
                        div.work-text
                            h3 Выберите способ получения денег
                            p Получений средств возможно на банковскую карту либо Яндекс Деньги

            div.work-step-block
                div.work-head
                    p ШАГ 3:
                        span  получите одобрение займа и подтвердите оферту

                div.work-steps-content
                    div.work-step
                        div.work-img
                            img(src="img/ws-3.png")
                        div.work-text
                            h3 Дождитесь одобрения отправленной Вами заявки

                    div.work-step
                        div.work-img
                            img(src="img/ws-4.png")
                        div.work-text
                            h3 Подпишите электронно Вашу оферту

            div.work-step-block
                div.work-head
                    p ШАГ 4:
                        span  получите деньги

                div.work-steps-content
                    div.work-img
                        img(src="img/ws-5.png")





