section.doc-block1.cnt
    div.doc-block1-content.row
        div.doc-head
            h2 Документы

        div.sectificate-block
            div.sertificate
                a.fancybox(href="img/sert-1.png")
                    img(src="img/sert-1.png")

                p Информация о лицах, оказывающих существенное влияние

            div.sertificate
                a.fancybox(href="img/sert-2.png")
                    img(src="img/sert-2.png")

                p Свидетельство МФК

            div.sertificate
                a.fancybox(href="img/sert-3.png")
                    img(src="img/sert-3.png")

                p Свидетельство СРО НП "МиР"

            div.sertificate
                a.fancybox(href="img/sert-4.png")
                    img(src="img/sert-4.png")

                p Свидетельство о регистрации юр. лица


        div.links-block
            div.link-block
                img(src="img/doc-icon.png")
                a(href="#" onclick="return false") Устав компании

            div.link-block
                img(src="img/doc-icon.png")
                a(href="#" onclick="return false") ИНН/КПП

            div.link-block
                img(src="img/doc-icon.png")
                a(href="#" onclick="return false") Лист записи ЕГРЮЛ