footer.cnt
    div.footer-content.row
        div.map-polit
            a(href="#") Карта сайта

            a.fancybox.politic(href="#politic") Политика конфиденциальности

        div.nt-logo
            a(href="http://worknext.ru" target="_blank")
                img(src="img/nt-logo.png")

div#politic
    div.politic-popup
        h2 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
        p Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (имя и адрес электронной почты, телефон).
        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действую