section.links-section.cnt
    div.links-section-content.row
        div.links-section-head
            h2 Редакции документов, действующие с 1 мая 2017 г.

        div.links-content
            div.link-content-block
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных

                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных

            div.link-content-block
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных

                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных
                div.link
                    img(src="img/doc-icon.png")
                    a(href="#" onclick="return false") Правила обработки персональных данных