doctype html
html(lang="en")
    head
        include head
    body
        include header

        section.map-site.cnt
            div.map-content.row
                div.map-head
                    h2 Карта сайта

                div.map-site-content
                    div.menu.group-menu
                        h3 Главная страница
                        a(href="#") Калькулятор
                        a(href="#") Шаги получения займа
                        a(href="#") Способы погашения
                        a(href="#") Отзывы
                        a(href="#") Карта займов
                        a(href="#") Акция
                        a(href="#") Контакты

                    div.menu.group-menu
                        h3 Инфо блок
                        a(href="#") Условия
                        a(href="#") Продление займа
                        a(href="#") Документы
                        a(href="#") Вопрос - Ответ

                    div.menu.group-menu
                        h3 Управление
                        a(href="#") Личный кабинет
                        a(href="#") Регистрация

        include footer


