section.qa-block1.cnt
    div.qa-block1-content.row
        div.qa-block1-head
            h2 Вопрос - ответ
            p Ответы на Ваши вопросы

        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Кто может взять займ
                    p.answer-text текст ответа


        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Оформление заявки и принятие решения

                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Получение денег

                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Оплата займа

                    p.answer-text текст ответа


        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Безопасность в деньгограде

                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                a(href="#" onclick="return false") Другое

                    p.answer-text текст ответа

